RsdnEditor/Rsdn.Editor/KeyboardShortcutsMap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="Actions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CaretViewLineUp"/>
			<xs:enumeration value="CaretViewLineUp2"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="Shortcuts">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Shortcut">
					<xs:complexType>
						<xs:attribute name="Key" type="xs:string" use="required" />
						<xs:attribute name="Action" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>